module.exports = {
    pg_user: "postgres user",
    pg_pass: "postgres password",
    pg_host: "postgres server address",
    pg_database: "postgres database",
    upkeep_day: "2",
    upkeep_time: "12",
    token: "put discord bot token here"
};