module.exports = {
    pg_user: "postgres user",
    pg_pass: "postgres password",
    pg_host: "postgres server address",
    pg_database: "postgres database",
    upkeep_day: 2, //day of the week as a number eg/ monday = 1, tuesday = 2
    upkeep_time: 12, //hour of the day in 24hr format 
    token: "put discord bot token here"
};